<div class="row">
    <div class="col-8 offset-2">
        <div class="form-group">
            <select id="optionFile" class="form-control">
                <option value="1">Json</option>
                <option value="2">Pipe</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="generate();">Generar</button>
        </div>
    </div>
</div>

<script>
    function generate()
    {

    }
</script>